In [ ]:
# dictionary is a mutable data type
# it is Represented by {} key value pair
# it is Can Accept any Data Type

In [1]:
x={'name':'satish','age':22,'salary':22000}   # save in memory
print(x)           # calling the functions

{'name': 'satish', 'age': 22, 'salary': 22000}

In [2]:
a={'Name':'sai','Age':25,'salary':25000}
print(a)
print(type(a))

{'Name': 'sai', 'Age': 25, 'salary': 25000}
<class 'dict'>

In [4]:
course={'Name':['kiran','krishna','Ravi'],'Age':[22,25,27],'Domain':['power bi','sql','python']} # save in memory
print(course) # calling the function
print(type(course))   # whats type of datatype

{'Name': ['kiran', 'krishna', 'Ravi'], 'Age': [22, 25, 27], 'Domain': ['power bi', 'sql', 'python']}
<class 'dict'>

In [5]:
course={'Name':['kiran','krishna','Ravi'],'Age':[22,25,27],'Domain':['power bi','sql','python']}
print(course['Name'])

['kiran', 'krishna', 'Ravi']

In [6]:
print(course['Age'])

[22, 25, 27]

In [8]:
print(course['Domain'])

['power bi', 'sql', 'python']

In [10]:
# bulit in functions
# copy

a={'name':'Ravi','Age':26,'Salary':28000}
a.clear()
print(a)

{}

In [12]:
#copy

b={'course':'python','fee':20000,'institute':'naresh'}
a=b.copy()
print(b)
print(type(b))

{'course': 'python', 'fee': 20000, 'institute': 'naresh'}
<class 'dict'>

In [14]:
#get

b={'course':'python','fee':20000,'institute':'naresh'}

print(b.get('course'))

python

In [15]:
print(b.get('fee'))

20000

In [16]:
print(b.get('institute'))

naresh

In [18]:
# keys

a = {'Name':'A' , 'age':21 , 'salary':10}
print(a.keys())
print(type(a))

dict_keys(['Name', 'age', 'salary'])
<class 'dict'>

In [19]:
# values

a = {'Name':'A' , 'age':21 , 'salary':10}
print(a.values())
print(type(a))

dict_values(['A', 21, 10])
<class 'dict'>

In [22]:
# items function both keys and Vaues
course={'Name':['kiran','krishna','Ravi'],'Age':[22,25,27],'Domain':['power bi','sql','python']}
print(course.items())
print(type(course))

dict_items([('Name', ['kiran', 'krishna', 'Ravi']), ('Age', [22, 25, 27]), ('Domain', ['power bi', 'sql', 'python'])])
<class 'dict'>

In [23]:
# pop

a = {'Name':'A' , 'age':21 , 'salary':10}
a.pop('salary')
print(a)
print(type(a))

{'Name': 'A', 'age': 21}
<class 'dict'>

In [25]:
# popitems

a = {'Name':'A' , 'age':21 , 'salary':10}
a.popitem()
print(a)
print(type(a))

{'Name': 'A', 'age': 21}
<class 'dict'>

In [27]:
# Addition

x={'name':'satish','age':22,'salary':22000}  
x['location']='pune'
print(x)
print(type(x))

{'name': 'satish', 'age': 22, 'salary': 22000, 'location': 'pune'}
<class 'dict'>

In [28]:
# deletion

x={'name':'satish','age':22,'salary':22000} 
del x['name']
print(x)
print(type(x))

{'age': 22, 'salary': 22000}
<class 'dict'>

In [30]:
# update

x={'name':'satish','age':22,'salary':22000} 
x.update({'location':'hyderabda'})
print(x)

{'name': 'satish', 'age': 22, 'salary': 22000, 'location': 'hyderabda'}

In [32]:
# replace
a={'Name':'sai','Age':25,'salary':25000}

a['Age']=35
print(a)

{'Name': 'sai', 'Age': 35, 'salary': 25000}

In [33]:
a['salary']=23000